.message-box {
    display: inline-block;
    position: fixed;
    top: 40%;
    right: 30px;

}

.message-box .btn {
    font-size: 14px;
    padding: 6px 10px;
}

.modal-content {
    background: #FFF;
    margin-top: 7em;
    padding: 0.5em;
}

.rotated {
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    transform-origin: top right;
}


/*---------------*/

.message-box .btn:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #ffd900, #eeff00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: 1px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
}

.message-box .btn:active {
    color: rgba(0, 0, 0, 0)
}

.message-box .btn:active:after {
    background: transparent;
}

.message-box .btn:before {
    opacity: 1;
}

.message-box .btn:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(17, 17, 17, 0);
    left: 0;
    top: 0;
}

@keyframes glowing {
    0% {
        background-position: 0 0;
    }
    50% {
        background-position: 400% 0;
    }
    100% {
        background-position: 0 0;
    }
}